<div id="container">

    <p id = "separator"><span>{{include.title}}</span></p>
    
    <ul>
        {% for link in {{include.content}} %}
            <li>
                {% if link.link contains "http://" or link.link contains "https://" or link.link contains "assets/" %}
                    <a href="{{link.link}}" title="{{link.hint}}" class="icon">
                {% else %}
                    <a href="mailto:{{link.link}}" title="{{link.hint}}" class="icon">
                {% endif %}
                    <img src={{ link.icon | relative_url}} class="icon-image">
                </a>
            </li>
        {% endfor %}
    </ul>

</div>
