//Scss base for classes and ids
body {
    background-image: linear-gradient(42deg, $bg-col2 13%, $bg-col1 81%);
    background-repeat: repeat;
}

* {
    box-sizing: border-box;
}

h1, p {
    position: relative;
}

#wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 1rem 1rem 1rem 1rem;
    min-height: 100vh;
}

#card {
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: #0F379B;
    box-shadow: 0rem 1.75rem 4rem 0rem rgba(0,0,0,0.09);
    border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
    border-top: solid 1px #0F379B;
    border-bottom: solid 1px #0F379B;
    border-left: solid 1px #0F379B;
    border-right: solid 1px #0F379B;
    max-width: 100%;

    animation-duration: 0.6s;
    animation-name: cardAnim;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}

@keyframes cardAnim {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    40% {
        transform: scale(1.05);
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.inner {
    padding: 1.5rem 2rem;
    z-index: 1;
    max-width: 100%;
    width: 37rem;
}

#upper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-width: 1px;
}

#title {
    color: $title-col;
    font-family: 'Fredoka', sans-serif;
    font-size: 2.1em;
    line-height: 1.25;
    font-weight: 300;
}

#bio {
    color: $text-col;
    font-family: 'Fredoka', sans-serif;
    letter-spacing: -0.05rem;
    width: 100%;
    font-size: 1em;
    line-height: 1.25;
    font-weight: 300;
}

.centered {
    text-align: center;
    align-content: center;
}

#separator {
    text-align: center;
    color: $button-col;
    font-family: 'Fredoka', sans-serif;
    letter-spacing: -0.05rem;
    width: 100%;
    font-size: 0.8em;
    line-height: 1.0;
    font-weight: 300;
    border-bottom: 1px solid $button-col; 
    line-height: 0.1em;
}

#separator span {
    background: $card-col;
    padding:0 5px; 
}

#image {
    width: 16rem;
    line-height: 0;
    max-width: 100%;
    position: relative;
    padding: 1rem;
}

ul {
    justify-content: center;
    display: flex;
    gap: 1.25rem;
    list-style: none;
    padding-inline-start: 0;
    margin-bottom: 1.5em;
}

.icon {
    display:block;
    max-height: 2em;
}

.icon-image {
    width: 2em;
    max-width: 2em;
    filter: invert(80%) sepia(5%) saturate(1332%) hue-rotate(191deg) brightness(105%) contrast(108%);
    transition: all .25s;
}

.icon-image:hover {
    filter: invert(100%);
    transform: scale(1.1);
}
