//Variables for colors and sizes

//Colors
$title-col: #ffffff !default;
$text-col: #D6E1FF !default;
$button-col: #D6E1FF !default;
$hover-col: #D6E1FF !default;
$card-col: #0F379B !default;
$bg-col1: #1469C3 !default;
$bg-col2: #0F0F69 !default;
