<!DOCTYPE html>
<html lang="en">

    {%- include head.html -%}

    <body>

        <div id="wrapper">

            <div id="card">

                <div class="inner">

                    {%- include upper.html -%}
                    
                    {%- include container.html content=site.data.links.technical title="Technical" -%}
                    {%- include container.html content=site.data.links.hobbies title="Hobbies" -%}
                    {%- include container.html content=site.data.links.social title="Social Media" -%}

                </div>
                
            </div>

        </div>

    </body>
</html>